.featured .box {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
  }
  .featured img {
    width: 65px;
    height: 65px;
    margin: auto;
  }

  .contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
    gap: 40px; /* Ajoute un espace entre les cartes */
    padding: 20px;
  }
  
  .boxi {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 200px; /* Largeur fixe pour les cartes */
    height: 200px;
    
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .boxi:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
  }
  
  